<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<!--  该文件用来配置mybatis的数据源和与数据库相关的信息 例如: 用户名，密码 驱动 等信息  -->


<configuration>

    <properties resource="jdbc.properties"/>

    <settings>
        <setting name="lazyLoadingEnabled" value="true" />
        <setting name="aggressiveLazyLoading" value="false" />
    </settings>

    <!--别名-->
    <typeAliases>
        <package name="com.houx.pojo"/>
        <package name="com.houx.pojo2"/>
    </typeAliases>

    <!--数据库环境-->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>


    <!--映射文件-->
    <mappers>
        <package name="com.houx.Mapper"/>
        <package name="com.houx.Mapper2"/>
    </mappers>

</configuration>